{% extends "base.html"%}

{% block content %}


<form method='POST' action=''>
    {% csrf_token %}


    <p>

        <label for="id_titulo">tìtulo</label> <br>
        <input type="text"
        id='id_titulo'
        required
        name='titulo'
        maxlength="200"
        value="{% if task %}{{ task.titulo }}{% endif %}"
        placeholder="Fale Logo...">    

    </p>

    <p>
        <label for="id_descricao">Descrição:</label> <br>
        <textarea type="text"
        id="id_descricao"
        required
        name="descricao"
        rows="6"
        value="{% if task %}{{ task.descricao }}{% endif %}"
        ></textarea>

    </p>

    <p>
        <label for="id_prioridade">Prioridade:</label> <br>
        <select name="prioridade" id="id_prioridade">
    {% for value, label in opcoes_prioridade %}
        {% if task and task.prioridade == value %}
            <option value="{{ value }}" selected>{{ label }}</option>
        {% else %}
            <option value="{{ value }}">{{ label }}</option>
        {% endif %}
    {% endfor %}
</select>

</p>

    <p>
        <label for=""></label>




    </p>





    <button type=submit>Salvar</button>



{% endblock %}


